.login {
  width: 100%;
  height: 100%;
  background-image: url("imgs/bg.jpg");
  background-size: cover;
  background-position: center;
}
.login .login-header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: white;
}
.login .login-header img {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 50px;
}
.login .login-header h1 {
  font-size: 30px;
  color: #130d0d;
}
.login .login-header span {
  color: red;
}
.login .login-content {
  width: 400px;
  height: 300px;
  background-color: white;
  margin: 50px  auto;
  padding: 20px 40px;
}
.login .login-content h2 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.login .login-content .login-form .login-form-button {
  width: 100%;
}
